<div class="text-center account-wrapper">
  <main>
    <header>
      <img
        src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg"
        alt=""
        class="mb-4"
        width="120"
        height="57"
      />
    </header>
    <section aria-describedby="Child page content">
      <router-outlet></router-outlet>
    </section>
    <footer>
      <p class="mt-5 mb-3 text-muted">
        © Copyright 2023 | All Rights are Reserved!
      </p>
    </footer>
  </main>
</div>
